scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/canada-demo
        create path (nt:unstructured) /content/dam/canada-demo/jcr:content
        set properties on /content/dam/canada-demo/jcr:content
        set cq:conf{String} to /conf/canada-demo
        set jcr:title{String} to \"Canada Demo\"
        end
        "
]
